<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylo.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/icone.jpeg')}}" type="image/x-icon">
    <title>Cartela</title>
</head>

<body onload="newCard()">

    <div id="container">
        <div id="header">

            <h1>Bingo GNET+ 2022</h1>
        </div>
        <div id="content">
            <table class="box" id="bingotable">
                <tr>
                    <th class="orange">G</th>
                    <th class="orange">N</th>
                    <th class="orange">E</th>
                    <th class="orange">T</th>
                    <th class="orange">+</th>
                </tr>
                <tr>
                    <td id="square0"> <button class="btn05">05</button></td>
                    <td id="square1"> <button class="btn06">06</button></td>
                    <td id="square2"> <button class="btn11">11</button></td>
                    <td id="square3"> <button class="btn16">16</button></td>
                    <td id="square4"> <button class="btn21">21</button></td>
                </tr>
                <tr>
                    <td id="square5"> <button class="btn04">04</button></td>
                    <td id="square6"> <button class="btn07">07</button></td>
                    <td id="square7"> <button class="btn12">12</button></td>
                    <td id="square8"> <button class="btn17">17</button></td>
                    <td id="square9"> <button class="btn22">22</button></td>
                </tr>
                <tr>
                    <td id="square10"> <button class="btn03">03</button></td>
                    <td id="square11"> <button class="btn08">08</button></td>
                    <td id="squarefree"> GNET</td>
                    <td id="square12"> <button class="btn13">13</button></td>
                    <td id="square13"> <button class="btn18">18</button></td>
                </tr>
                <tr>
                    <td id="square14"> <button class="btn02">02</button></td>
                    <td id="square15"> <button class="btn09">09</button></td>
                    <td id="square16"> <button class="btn14">14</button></td>
                    <td id="square17"> <button class="btn19">19</button></td>
                    <td id="square18"> <button class="btn23">23</button></td>
                </tr>
                <tr>
                    <td id="square19"> <button class="btn01">01</button></td>
                    <td id="square20"> <button class="btn10">10</button></td>
                    <td id="square21"> <button class="btn15">15</button></td>
                    <td id="square22"> <button class="btn20">20</button></td>
                    <td id="square23"> <button class="btn21">24</button></td>
                </tr>
            </table>
        </div>

        <div class="botao" id='voltar'>
            <a href="/"><input type="submit" value="VOLTAR"></a>
            <a href="/narrador"><input type="submit" value="Bolas chamadas"></a>
        </div>


        <script src="static/js/cartelas.js"></script>

</body>

</html>