<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.00">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylo.css') }}">
    <title>Bolas chamadas </title>

    <body>
        <h1>Aqui onde vai ser geradas as bolas chamadas </h1>
        <div class="box">
            <h2>00</h2>
            <button>GERAR NUMERO</button>
        </div>
        <div id="content">
            <table class="box" id="bingotable">
                <tr>
                    <th class="orange">G</th>
                    <th class="orange">N</th>
                    <th class="orange">E</th>
                    <th class="orange">T</th>
                    <th class="orange">+</th>
                </tr>
                <td>
                    <button class="btn1">00</button>
                    <button class="btn2">00</button>
                    <button class="btn3">00</button>
                    <button class="btn4">00</button>
                    <button class="btn5">00</button>
                    <button class="btn6">00</button>
                    <button class="btn7">00</button>
                    <button class="btn8">00</button>
                    <button class="btn9">00</button>
                    <button class="btn10">00</button>
                    <button class="btn11">00</button>
                    <button class="btn12">00</button>
                    <button class="btn13">00</button>
                    <button class="btn14">00</button>
                    <button class="btn15">00</button>
                </td>
                <td>
                    <button class="btn16">00</button>
                    <button class="btn17">00</button>
                    <button class="btn18">00</button>
                    <button class="btn19">00</button>
                    <button class="btn20">00</button>
                    <button class="btn21">00</button>
                    <button class="btn22">00</button>
                    <button class="btn23">00</button>
                    <button class="btn24">00</button>
                    <button class="btn25">00</button>
                    <button class="btn26">00</button>
                    <button class="btn27">00</button>
                    <button class="btn28">00</button>
                    <button class="btn29">00</button>
                    <button class="btn30">00</button>
                </td>
                <td>
                    <button class="btn31">00</button>
                    <button class="btn32">00</button>
                    <button class="btn33">00</button>
                    <button class="btn34">00</button>
                    <button class="btn35">00</button>
                    <button class="btn36">00</button>
                    <button class="btn37">00</button>
                    <button class="btn38">00</button>
                    <button class="btn39">00</button>
                    <button class="btn40">00</button>
                    <button class="btn41">00</button>
                    <button class="btn42">00</button>
                    <button class="btn43">00</button>
                    <button class="btn44">00</button>
                    <button class="btn45">00</button>
                </td>
                <td>
                    <button class="btn46">00</button>
                    <button class="btn47">00</button>
                    <button class="btn48">00</button>
                    <button class="btn49">00</button>
                    <button class="btn50">00</button>
                    <button class="btn51">00</button>
                    <button class="btn52">00</button>
                    <button class="btn53">00</button>
                    <button class="btn54">00</button>
                    <button class="btn55">00</button>
                    <button class="btn56">00</button>
                    <button class="btn57">00</button>
                    <button class="btn58">00</button>
                    <button class="btn59">00</button>
                    <button class="btn60">00</button>
                </td>
                <td>
                    <button class="btn61">00</button>
                    <button class="btn62">00</button>
                    <button class="btn63">00</button>
                    <button class="btn64">00</button>
                    <button class="btn65">00</button>
                    <button class="btn66">00</button>
                    <button class="btn67">00</button>
                    <button class="btn68">00</button>
                    <button class="btn69">00</button>
                    <button class="btn70">00</button>
                    <button class="btn71">00</button>
                    <button class="btn72">00</button>
                    <button class="btn73">00</button>
                    <button class="btn74">00</button>
                    <button class="btn75">00</button>
                </td>

            </table>
        </div>
        <script src="static/js/number.js"></script>
    </body>

</html>